@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Main Styling */

html{
	scroll-behavior: smooth;
}
body {
	font-family: 'Poppins', sans-serif;
}

h1 {
	font-size: 2rem;
}
h2 {
	font-size: 2rem;
}
h3 {
	font-size: 1.75rem;
}
h4 {
	font-size: 1.5rem;
}
h5 {
	font-size: 1.25rem;
}
h6 {
	font-size: 1rem;
}

h1,
h2,
h3,
h4 {
	text-transform: uppercase;
	font-weight: 900;
}

p {
	font-size: 1rem;
	margin: 10px 0;
	line-height: 1.7em;
}

a {
	text-decoration: none;
}

/* Utility Classes */
.container {
	margin: auto;
	max-width: 1300px;
	overflow: auto;
	padding: 0 20px;
}

.large {
	font-size: 1.25rem;
}

.display-1 {
	font-size: 6rem;
}


/* Navbar */
.navbar-home {
	height: 10vh;
}

#navbar {
	overflow: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #f8f9fa;
}

#navbar a {
	color: #000;
}

#navbar .logo {
	float: left;
	padding-top: 5px;
}


#navbar ul {
	float: right;
	font-size: 16px;
	list-style: none;
	padding-right: 12%;
	font-weight: 500;
}

#navbar ul li {
	float: left;
}

#navbar ul li a {
	display: block;
	padding: 20px;
	text-align: center;
}

#navbar ul li a:hover,
#navbar ul li .current {
	text-decoration: underline;
}

/* Showcase */
#showcase {
	background: #ffffff;
	padding-top: 75px;
	padding-bottom: 100px;
	padding-left:5%;
}

#showcase h1 {
	line-height: 1em;
}

#showcase .title-outline {
	color: #fff;
	-webkit-text-stroke: 3px #000;
}

.showcase-row {
	display: flex;
}

.showcase-row-title {
	display: block;
	padding-top: 70px;
	margin-left: 13%;
}

.showcase-row-image {
	display: block;
	margin-left: 12%;
	margin-right: 12%;
}

.showcase-row-image img {
	height: 500px;
	border-radius: 5%;
}


/* About */

#about {
	background: #f8f9fa;
	padding: 40px ;
	
	
}

#about h2 {
	padding-bottom: 50px;
	
}

.about-row {
	display: flex;
	padding-left: 75px;
}

.about-row-image img {
	border-radius: 4%;
	height: 500px;
	padding-right: 0px;
}

.about-row-text{
	padding-top: 20px;
	padding-left: 75px;
}

#about hr {
	width: 60%;
	margin-bottom: 30px;
}

/* Skills */



#skills {
	padding: 90px 0;
}

#skills h2 {
	padding-bottom: 50px;
}

.skills-row {
	display: flex;
	padding-bottom: 50px;
}

.skills-row-left,
.skills-row-right {
	width: 50%;
	display: flex;
}

.skills-row-left-image,
.skills-row-right-image {
	width: 50%;
	text-align: right;
	padding-right: 50px;
}

.skills-row-left-image img,
.skills-row-right-image img {
	height: 100px;
}

/* Timeline */



#timeline {
	padding: 90px 0;
	background: #f8f9fa;
}

#timeline h2 {
	padding-bottom: 20px;
}

.timeline-row {
	display: flex;
	padding-bottom: 40px;
}

.timeline-row-tag {
	width: 50%;
	text-align: right;
	padding-right: 80px;
}

.timeline-row-tag p span {
	background: #7e7e7e;
	color: #fff;
	padding: 12px 30px;
	border-radius: 20px;
}


/*Contact*/

#contacto {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 0px;

}

.contacto-row {
    display: flex;
	padding-left: 20%;
    padding-right: 20%;
}

.contacto-row img{
	padding-top: 40px;
	padding-bottom: 75px;
 	width: 30%;
}

.contacto-row img:hover{
	padding-top: 40px;
	padding-bottom: 60px;
	width: 35%;
   }


/* Footer */
.footer-home {
	height: 10vh;
	
}

#mainfooter {
	background: #f8f9fa;
	text-align: center;
	padding: 30px;
}

